<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

	<!--Footer-->
	   <footer id="footer" class="row bg-dark" th:fragment="footer">
	       <div class="col mx-2">
	           <h2 class="text-light mx-4">Atención al cliente</h1>
	               <p class="mx-5 text-light"><strong>Nº Teléfono:</strong> +34 987654321</p>
	               <p class="mx-5 text-light"><strong>Correo:</strong> gearglide@tienda.com</p>
	       </div>
	       <div class="col mx-2">
	           <h2 class="text-light mx-5">Redes Sociales</h1>
	               <a href="https://www.instagram.com" target="_blank" class="mx-5 text-light">Instagram</a>
	               <a href="https://github.com" target="_blank" class="mx-5 text-light">GitHub</a>
	               <a href="https://twitter.com/?lang=es" target="_blank" class="mx-5 text-light">X</a>
	       </div>
	       <div class="col mx-2">
	           <h2 class="text-light mx-5">Información</h1>
	               <p class="mx-5 text-light">Somos una tienda online establecida en sevilla en 2024, especializadas en
	                   todo tipo de bicicletas, accesorios, vestimenta, etc. que puedas necesitar para tu entrenamiento o
	                   simplemente para disfrutar del ciclismo de forma urbana. No olvodes consultar el apartado de información
				       sobre nosostros.
				   </p>
	       </div>
	   </footer>
	
</body>